@charset "UTF-8";

.cabeçalho {
  display: flex;
  flex-direction: column;
  
}
.seçao-principal {
    display: flex;
    flex-direction: column;
   justify-content: center;
   gap: 10px;
}

.seçao-principal-subtitulo {
    font-size: 1rem;
}
