@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --font-padrao: 'Bebas Neue', sans-serif;
    --cor-destaque: #F5E4DA;
    --cor2: #ED4B17;
    --cor3: #eb464d;
}


html{
    
    background-color: var(--cor-destaque);
}

html, body {
    margin: 0;
    padding: 0;
    
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.cabeçalho {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100;
    padding: 10px;
   
   
    
    


}


.cabeçalho-titulo {
    font-family: var(--font-padrao);
    font-weight: normal;
    font-size: 2.8rem;
    margin-right: 10px;

}

.nav-bar {
   
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 134px;
    margin-top: 10px;
    max-width: 404px;
    text-align: center;
   
}

.nav {

    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding: 24px;
    border-radius: 20px;

}

.nav-item {
    list-style: none;
    font-family: var(--font-padrao);
    font-weight: normal;

}

.nav-item:hover {
    color: var(--cor3);
}

.nav-item>a {
    text-decoration: none;
    color: black;
}

.nav-item>a:hover {
    color: var(--cor3);
}

.conteudo-principal {
   
    width: 100%;
    
}

.seçao-principal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    background-color: var(--cor-destaque);
}

.seçao-principal-subtitulo {
    font-size: 3.9rem;
    font-family: var(--font-padrao) ;
    font-weight: normal;

}
#button {
    width: 140px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: var(--cor3);
    box-shadow: 2px 2px 10px;
}
.img {
    max-width: 600px;
    padding: 20px;
}
.figure-smart-img {
    width: 300px;
}
.seçao-secundaria-features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;

    
    
    
   
   
}
.seçao-conteudo-features {
    text-align: justify;
    
    
    
}


.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

}

.parent-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--cor3);
}

.parent-item-icon-1 {
    width: 63px;
    height: 60px;
    background-image: url('../assets/icons/localizacao.png');
}

.parent-item-icon-2 {
    width: 60px;
    height: 64px;
    background-image: url('../assets/icons/garantia-da-qualidade.png');
}

.parent-item-icon-3 {
    width: 65px;
    height: 60px;
    background-image: url('../assets/icons/computador.png');

}

.parent-item-icon-4 {
    width: 64px;
    height: 64px;
    background-image: url('../assets/icons/pagamento-em-dinheiro.png');
}